<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Depoimentos - Maestria</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar col-12 position-fixed navbar-expand-lg navbar-dark bg-dark" style="z-index: 999;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#"><img src="{% static 'myapp/img/Design sem nome (1).png' %}" alt=""></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'servicos' %}">Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projetos' %}">Projetos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'depoimentos' %}">Depoimentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contato' %}">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
      <br><br><br>

    <div class="main-content">
        <section id="depoimentos">
            <h2>O que nossos clientes dizem</h2>
            <p>Leia o que nossos clientes satisfeitos têm a dizer sobre nossos serviços.</p>
            <!-- Depoimentos dos clientes -->
        </section>
    </div>

    <script src="scripts.js"></script>
</body>
</html>
